@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
  display: flex;
}

.slick-slider {
  max-width: 1170px;
  padding: 0 28px;
  overflow: hidden;
  position: relative;
}

.slick-slide {
  max-width: 250px;
  margin: 0 16px;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.slick-slide.slick-active {
  opacity: 1;
  transition: all ease-in-out 1s;
}

.slick-arrow {
  background: url("../public/chevron-left-solid.svg") !important;
  background-repeat: no-repeat !important;
  opacity: 0.4 !important;
}
.slick-arrow:hover {
  opacity: 0.7 !important;
}

.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px !important;
  height: 49px !important;
  font-size: 0px;
  z-index: 9;
}

.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  width: 28px !important;
  height: 49px !important;
  font-size: 0px;
  transform: rotate(180deg) !important;
  z-index: 9;
}

.range__slider {
  position: relative;
  width: 200px;
}

.range__slider__track,
.range__slider__range,
.range__slider__left-value,
.range__slider__right-value {
  position: absolute;
}

.range__slider__track,
.range__slider__range {
  border-radius: 3px;
  height: 5px;
}

.range__slider__track {
  background-color: #ffc9d1;
  width: 100%;
  z-index: 1;
}

.range__slider__range {
  background-color: #dc2626;
  z-index: 2;
}

.range__slider__left-value,
.range__slider__right-value {
  color: #dc2626;
  font-size: 15px;
  margin-top: 40px;
}

.range__slider__left-col,
.range__slider__right-col {
  display: flex;
  flex-direction: column;
}

.range__slider__from,
.range__slider__to {
  margin-top: 20px;
  color: #888;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.range__slider__left-value {
  left: 6px;
}

.range__slider__right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.order-history-enter {
  opacity: 0;
  transform: scale(0.9);
}
.order-history-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.order-history-exit {
  opacity: 1;
}
.order-history-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.search-show-enter {
  opacity: 0;
  transform: translateY(200px);
}
.search-show-enter-active {
  opacity: 1;
  transform: translateY(-50px);
  transition: opacity 500ms, transform 1000ms;
}
.search-show-exit {
  opacity: 1;
}
.search-show-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 1000ms;
}
.drawer-enter {
  opacity: 0;
  transform: translateX(400px);
  
}
.drawer-enter-active {
  opacity: 1;
  transform: translateX(-50px);
  transition: opacity 500ms, transform 1000ms;
}
.drawer-exit {
  opacity: 1;
}
.drawer-exit-active {
  opacity: 0;
  transform: translateX(450px);
  transition: opacity 500ms, transform 1000ms;
}
